*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./assets/heckthonbg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.sb{
    text-align: center;
    font-size: 20vh;
    color: #583197;
}
.win{
    text-align: center;
}
.winimg{
    border-radius: 100%;
    height: 30vh;
    width: 30vh;
}
.board{
    border: 1px solid black;
}
.a{
    border: 1px solid black;
    display: flex;
    padding: 3vh;
    justify-content: space-around;
    color: #9C66F0;;
    align-items: center;
}
.img{
    height: 15vh;
    width: 15vh;
    border-radius: 100%;
}
.playerscore{
    font-size: 10vh;
}
.name{
    font-size: 8vh;
}
.position{
    font-size: 8vh;
}