*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("./assets/choicebg.png");
    background-repeat: no-repeat;
    background-size:cover;
        
}

h1{
    text-align: center;
    font-size:10vh;;
    margin: 50px;
    color: #110b0b;

}
.winnerimg{
    border-radius: 100%;
    height: 50vh;
    width: 50vh;
}
.img{
    text-align: center;
}